<header
  class="flex flex-col items-center gap-4 text-xl sm:text-4xl shadow bg-gray-50 p-8"
  style="
    background-image: url(bg-header.jpg);
    background-size: cover;
    background-position: left;
  "
>
  <h1 class="font-bold hover:text-blue-700 hover:cursor-pointer" routerLink="/">
    Angular Technical Assessment
  </h1>
  <h2
    class="text-yellow-300 font-extrabold"
    style="text-shadow: 2px 1px 1px rgba(88, 85, 62, 0.623)"
  >
    Candidate: Cristian Damil García
  </h2>
</header>
