<div class="flex flex-col min-h-screen">
  <app-header></app-header>

  <mat-drawer-container class="example-container" autosize class="!bg-white">
    <mat-drawer
      #drawer
      [mode]="(mode$ | async) ?? 'side'"
      class="!w-fit md:h-fit !z-10"
    >
      <app-user-search></app-user-search>
    </mat-drawer>
    <mat-toolbar class="flex justify-between">
      <div class="flex gap-2">
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Toggle sidenav"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <img src="logo.svg" alt="Duacode logo" width="120" />
      </div>

      <span class="font-bold">27/02/2025</span>
    </mat-toolbar>
    <main class="flex-grow">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</div>
