<mat-card
  class="hover:!shadow-xl hover:!bg-gray-200 transition-all duration-200 cursor-pointer"
  [routerLink]="'/user/' + user.id"
>
  <mat-card-header>
    <div mat-card-avatar>
      <img
        mat-card-image
        [src]="user.avatar"
        alt="{{ user.first_name }} {{ user.last_name }}"
      />
    </div>
    <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
    <mat-card-subtitle class="!flex items-center !text-sm"
      >{{ user.email }}
      <button
        mat-icon-button
        [cdkCopyToClipboard]="user.email"
        matTooltip="Copy email"
        StopPropagation
      >
        <mat-icon>content_copy</mat-icon>
      </button></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>
